#passwordType-text{
    width:10%       
}

.content{
    margin:2%;
    
    background-color: aquamarine;
    padding: 2%;
    width: 90%; 
    height: 100%  
}

#display{
    width: 100%  
}

  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.form-check{
  background-color: aliceblue;
  width: 35%
}